<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg"/>
        <h2>{{tittle}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{secondaryBtnText}}</button>
        </div>    
    </section>
    <section class="main-section">
        <h1>Você Consegue! Spredts</h1>
        <img src="/assets/svg/main-illustration.svg"/>
    </section>
</main>